            body{
                background-size:cover;
                margin-left:40px;
                margin-right: 60%;
            }
            #message{
                height: 50px;
            }
            input, textarea {
                margin-top:8px;
            }
            #comments{
                border: solid 5px black;
                background-color: white;
                width: 900px;
                border-radius: 5px;
            }
            p{
                padding-left: 20px;
            }